<p style="color: green"><%= notice %></p>

<%= render @product_parser_rule %>

<div>
  <%= link_to "Edit this product parser rule", edit_product_parser_rule_path(@product_parser_rule) %> |
  <%= link_to "Back to product parser rules", product_parser_rules_path %>

  <%= button_to "Destroy this product parser rule", @product_parser_rule, method: :delete %>
</div>
